<footer class="py-4 bg-secondary border-top fixed-bottom">
  <div class="container text-center">
    <span class="text-muted"><%= link_to "Copyright & Gabriel Vieira", "https://www.linkedin.com/in/gevvieira", style: "color: white; text-decoration: none" %></span>
  </div>
</footer>