<footer class="py-4 bg-secondary border-top fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">Copyright &copy; <%= link_to "Gabriel Vieira", "https://www.linkedin.com/in/gevvieira" %></span>
  </div>
</footer>